# 점프 투 파이썬

## chapter 2 파이썬 프로그래밍의 기초, 자료형

## 목차
### [2-1 숫자형](#2-1-숫자형-(02/07))
### [2-2 문자열 자료형](#2-2-문자열-자료형-(02/09))
### [2-3 리스트 자료형](#2-3-리스트-자료형-(02/10))
### [2-4 튜플 자료형](#2-4-튜플-자료형-(02/11))
### [2-5 딕셔너리 자료형 ](#2-5-딕셔너리-자료형)
### [2-6 집합 자료형 ](#2-6-집합-자료형)
### [2-7 불 자료형 ](#2-7-불-자료형)
### [2-8 자료형의 값을 저장하는 공간, 변수 ](#2-8-자료형의-값을-저장하는-공간,-변수)
### [2장 연습문제 ](#2장-연습문제)

## 2-1 숫자형 (02/07)

### 1. 숫자형 (Number)

### 정수형 (Interger)

In [7]:
a=123
a

123

In [3]:
b=-178
b

-178

In [5]:
c=0
c

0

### 실수형 (Floating-point)
소수점이 포함된 숫자

In [8]:
a=1.2
a

1.2

In [12]:
b=-3.222
b

-3.222

$4.24e10=4.24\times10^{10}$

In [13]:
a=4.24e10
a

42400000000.0

### 8진수와 16진수
0o 또는 0O로 시작하면 8진수  
0x로 시작하면 16진수  
1~9는 숫자로 표현하고 나머지 10은 A, 11은 B, 12는 C, 13은 D, 14는 E, 15는 F

In [15]:
a=0o177
a

127

In [16]:
a=0x8ff
a

2303

In [39]:
0xf

15

In [18]:
b=0xABC
b

2748

### 2. 숫자형을 활용하기 위한 연산자

### 사칙연산

`+`,`-`,`*`,`/`  

## x의 y 제곱을 나타내는 `**` 연산자

In [19]:
a=3
b=4
a**b

81

### 나눗셈 후 나머지를 반환하는 `%` 연산자

In [20]:
7%3

1

In [21]:
3%7

3

### 나눗셈 후 몫을 반환하는 `//` 연산자

In [22]:
7/4

1.75

In [23]:
7//4

1

## 2-2 문자열 자료형

### 1. 문자열 만들기
문자열을 만들어 주는 주인공은 작은따옴표(')와 큰따옴표(")이다. 그런데 문자열 안에도 작은따옴표와 큰따옴표가 들어 있어야 할 경우가 있다. 이때는 좀 더 특별한 기술이 필요하다. 예제를 하나씩 살펴보면서 원리를 익혀 보자.

### 문자열에 작은 따옴표 포함시키기

In [27]:
"Python's favorite food is perl"

"Python's favorite food is perl"

### 문자열에 큰따옴표 포함시키기

In [33]:
say='"Python is very easy." he says.'

In [34]:
say

'"Python is very easy." he says.'

### 백슬래시를 사용해서 작은따옴표와 큰따옴표 문자열에 포함시키기
백슬래시를 작은따옴표나 큰따옴표 앞에 삽입

In [35]:
food = 'Python\'s favorite food is perl'
food

"Python's favorite food is perl"

In [38]:
say="\"Python is very easy.\"he says."
say

'"Python is very easy."he says.'

### 2. 여러 줄인 문자열을 변수에 대입하고 싶을때
문자열이 항상 한 줄짜리만 있는 것은 아니다. 

Life is too short  
You need python

### 줄을 바꾸기 위한 이스케이프 코드 \n 삽입하기

In [49]:
multiline="Life is too short\nYou need python"
print(multiline)

Life is too short
You need python

In [50]:
multiline='''
Life is too short
You need python
'''
print(multiline)

Life is too short
You need python

In [51]:
multiline="""
Life is too short
You need python
"""
print(multilineltiline)

Life is too short
You need python

### 이스케이프 코드
프로그래밍할때 사용할 수 있도록 미리 정의해 둔 "문자조합"

In [53]:
# \t 문자열 사이에 탭 간격 줄때
a="안녕\t하세요"
print(a)

안녕	하세요

In [1]:
# \\ 문자 \를 그대로 표현할때
a="\\이거는 백슬래시"
print(a)

\이거는 백슬래시

In [88]:
# \r 캐리지 리턴(줄바꿈 문자, 현재 커서를 가장 앞으로 이동)
a="안녕하세요저는\r누구입니다"
print(a)

누구입니다

In [3]:
# \a 벨 소리(출력할 때 pc 스피커에서 삑 소리가 남)
# 근데 나는 안나고 앞에 점이 찍힘
a='\a안녕'
print(a)

안녕

In [5]:
# \b 백스페이스
b="안녕하\b세요"
print(b)

안녕하세요

In [6]:
# \000 널 문자

c="\000"
print(c)

 

### 3. 문자열 연산하기 (02/09)

### 더해서 연결하기

In [7]:
head="Python"
tail=" is fun!"
head+tail

'Python is fun!'

### 문자열 곱하기
a*2 는 a를 두번 반복

In [8]:
a="python"
a*2

'pythonpython'

### 문자열 곱하기 응용
다음 소스를 IDLE 에디터를 열고 작성해보자  
입력한 소스는 C:\doit 디렉터리 파일 이름 multistring.py로 저장  
이제 프로그램을 실행할 것  
[`윈도우 +R` →cmd 입력 → `Enter`]

In [10]:
# multistring.py

print("="*50)
print("My Program")
print("="*50)

==================================================
My Program
==================================================

### 문자열 길이 구하기

In [15]:
a="Life is too short"
len(a)

17

### 4. 문자열 인덱싱과 슬라이싱
인덱싱: 가리킨다  
슬라이싱: 잘라낸다  

### 문자열 인덱싱

In [38]:
a="Life is too short, You need Python"

In [19]:
# a라는 문자열의 네 번째 문자 e, 파이썬은 0부터 숫자를 센다.

a[3]

'e'

In [20]:
a[12]

's'

In [22]:
a[4]

' '

In [24]:
# 뒤에서부터 세서 첫 번째가 되는 문자

a[-1]

'n'

In [26]:
# a[0]은 a[-0]이랑 같다.

a[-0]

'L'

In [27]:
a[-2]

'o'

### 문자열 슬라이싱
문자열에서 단순히 한 문자만 뽑아내는 것이 아니라 **단어**를 뽑아내기

In [30]:
b=a[0]+a[1]+a[2]+a[3]
b

'Life'

In [39]:
# 끝번호에 해당하는 것은 포함하지 않는다.

a[0:4]

'Life'

In [40]:
a[5:7]

'is'

In [41]:
a[12:17]

'short'

In [45]:
# a[시작 번호:끝 번호]에서 끝 번호 부분을 생략하면 시작 번호부터 그 문자열의 끝까지 뽑아낸다
a[19:]

'You need Python'

In [50]:
a[:17]

'Life is too short'

In [52]:
# 시작번호와 끝번호 생략하면 문자열의 처음부터 끝까지를 뽑아낸다

a[:]

'Life is too short, You need Python'

In [54]:
# a[19]부터 a[-8]까지, 여기서 a[-7]은 포함하지 않는다.

a[19:-7]

'You need'

### 슬라이싱으로 문자열 나누기

In [58]:
a="20200209Sunny"
date=a[:8]
weather=a[8:]
date

'20200209'

In [59]:
weather

'Sunny'

In [60]:
year=a[:4]
day=a[4:8]

In [61]:
year

'2020'

In [62]:
day

'0209'

#### pithon이라는 문자열을 python으로 바꾸기

In [66]:
a="Pithon"
a[1]

'i'

In [68]:
# 이렇게 하면 오류 발생 

a[1]='y'

TypeError: 'str' object does not support item assignment

In [69]:
a="Pithon"
a[:1]

'P'

In [70]:
a[2:]

'thon'

In [71]:
a[:1]+'y'+a[2:]

'Python'

### 5. 문자열 포매팅

"현재 온도는 18도 입니다."

"현재 온도는 20도 입니다."

위 두 문자열은 모두 같은데 20이라는 숫자와 18이라는 숫자만 다르다.  
이렇게 문자열 안의 특정한 값을 바꿔야 할 경우가 있을 때 이것을 가능하게 해주는 것이 바로 문자열 포매팅 기법이다.

문자열 안에서 숫자를 넣고 싶은 자리에 %d라는 문자를 넣어주고 삽입할 숫자 3은 가장 뒤에 있는 % 문자 다음에 써 넣는다.  

`%d`는 문자열 포맷 코드 (숫자)  
`%s`는 문자열 포맷 코드 (문자)

### 숫자 바로 대입 `%d`

In [72]:
"I eat %d apples."%3

'I eat 3 apples.'

### 문자열 바로 대입 `%s`

In [73]:
"I eat %s apples" %"five"

'I eat five apples'

### 숫자 값을 나타내는 변수로 대입

In [78]:
number=3
"I eat %d apples." % number

'I eat 3 apples.'

### 2개 이상의 값 넣기

In [79]:
number=10
day="three"
"I ate %d apples. so I was sick for %s days." %(number,day)

'I ate 10 apples. so I was sick for three days.'

### 문자열 포맷 코드

|코드|셜명|
|-|-|
|%s|문자열|
|%c|문자 1개|
|%d|정수|
|%f|부동소수|
|%o|8진수|
|%x|16진수|
|%%|Literal% (문자 `%` 자체)|

여기에서 재미있는 것은 %s 포맷 코드인데, 이 코드는 어떤 형태의 값이든 변환해 넣을 수 있다. 무슨 말인지 예를 통해 확인해 보자.  

%s는 자동으로 % 뒤에 있는 값을 문자열로 바꾼다.

In [80]:
"I have %s apples" %3

'I have 3 apples'

In [81]:
"rate is %s"%3.234

'rate is 3.234'

포매팅 연산자 %d와 %를 같이 쓸 때는 %%를 쓴다.

In [82]:
"Error is %d%%." %98

'Error is 98%.'

### 포맷 코드와 숫자 함께 사용하기 

#### 정렬과 공백

In [84]:
# %10s는 전체 길이가 10개인 문자열 공간에서 대입되는 값을 오른쪽으로 정렬하고
# 그 앞의 나머지는 공백으로 남겨 두라는 의미

"%10s" % "hi"

'        hi'

In [85]:
# 왼쪽 정렬은 %-10s가 될 것

"%-10sjane."%"hi"

'hi        jane.'

#### 소수점 표현하기
3.42134234를 소수점 네번째 자리까지만 나타내고 싶은 경우에

In [87]:
"%0.4f" %3.42134234

'3.4213'

In [89]:
# 소수점 네 번째 자리까지 표시, 전체 길이가 10개인 문자열 공간에서 오른쪽으로 정렬하는 것

"%10.4f"%3.42134234

'    3.4213'

### format 함수를 사용한 포매팅

앞의 문자열 포매팅 예제를 format 함수를 사용해서 바꾸면 다음과 같다.

#### 숫자 바로 대입하기

In [90]:
"I eat {0} apples".format(3)

'I eat 3 apples'

#### 문자열 바로 대입하기

In [91]:
"I eat {0} apples".format("five")

'I eat five apples'

#### 숫자 값을 가진 변수로 대입하기

In [93]:
number=3
"I eat {0} apples".format(number)

'I eat 3 apples'

#### 2개 이상의 값 넣기

In [92]:
number=10
day='three'
"I ate {0} apples. so I was sick for {1} days.".format(number, day)

'I ate 10 apples. so I was sick for three days.'

#### 이름으로 넣기

In [94]:
"I ate {number} apples. so I was sick for {day} days.".format(number=10,day=3)

'I ate 10 apples. so I was sick for 3 days.'

#### 인덱스와 이름을 혼용해서 넣기

인덱스랑 name이랑 순서 바꾸면?

In [100]:
"I ate {0} apples. so I was sick for {day} days.".format(10,day=2)

'I ate 10 apples. so I was sick for 2 days.'

#### 왼쪽 정렬

`:0<10`표현식을 사용하면 치환되는 문자열을 왼쪽으로 정렬하고 문자열의 총 자릿수를 10으로 맞출 수 있다.

In [105]:
"{0:<10}".format("hi")

'hi        '

#### 오른쪽 정렬
`:>10`

In [106]:
"{0:>10}".format("hi")

'        hi'

#### 가운데 정렬
`:^10`

In [108]:
"{0:^10}".format("hi")

'    hi    '

#### 공백 채우기

In [109]:
"{0:=^10}".format("hi")

'====hi===='

In [110]:
"{0:!<10}".format("hi")

'hi!!!!!!!!'

#### 소수점 표현하기
format 함수를 사용해 소수점을 4자리까지만 표현하는 방법을 보여 준다.

In [112]:
y=3.42134234
"{0:0.4f}".format(y)

'3.4213'

In [117]:
"{0:10.4f}".format(y)

'    3.4213'

In [116]:
"{0:<10.4f}".format(y)

'3.4213    '

In [124]:
# {}와 같은 중괄호 문자를 포매팅 문자가 아닌 문자 그대로 사용하고 싶을때

"{{and}} hi {0}".format(1)

'{and} hi 1'

### f 문자열 포매팅

문자열 앞에 f 접두사를 붙이면 f 문자열 포매팅 기능을 사용할 수 있다.

In [125]:
name = "홍길동"
age=30
f'나의 이름은 {name}입니다. 나이는 {age}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [128]:
#f 문자열 포매팅은 표현식을 지원한다.
# 표현식이란 문자열 안에서 변수와 +,-와 같은 수식을 함께 사용하는 것을 말한다.
age=25
f'나는 내년이면 {age+1}살이 된다'

'나는 내년이면 26살이 된다'

In [ ]:
# 딕셔너리
# 딕셔너리는 Key와 Value라는 것을 한쌍으로 갖는 자료형

d={'name':'홍길동','age':30}
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'

#### 정렬

In [133]:
f'{"hi":<10}'  #왼쪽 정렬

'hi        '

In [134]:
f'{"hi":>10}'  #오른쪽 정렬

'        hi'

In [135]:
f'{"hi":^10}'  #가운데 정렬

'    hi    '

#### 공백 채우기

In [138]:
f'{"hi":=^10}'   # 가운데 정렬하고 '=' 문자로 공백채우기

'====hi===='

In [140]:
f'{"hi":!<10}'   # 왼쪽 정렬하고 '!' 문자로 공백 채우기

'hi!!!!!!!!'

#### 소수점 표현

In [141]:
y=3.42134234
f'{y:0.4f}'    #소수점 4자리까지만 표현

'3.4213'

In [142]:
f'{y:^10.4f}'

'  3.4213  '

#### f문자열에서 `{}` 문자 사용

In [143]:
f'{{and}}'

'{and}'

### 문자열 관련 함수들

문자열 자료형은 자체적으로 함수를 가지고 있다.  
이들 함수를 다른 말로 문자열 내장 함수라 한다.  
이 내장 함수를 사용하려면 문자열 변수 이름 뒤에 `.`을 붙인 다음에 함수 이름을 써주면 된다.

#### 문자 개수 세기 (`count`)

In [145]:
a="hobby"
a.count('b')   #b의 개수를 돌려준다

2

#### 위치 알려주기1 (`find`)

In [152]:
a="Python is the best choice"
a.find('b')

14

In [154]:
a.find('k')   # 문자열이 존재하지 않으면 -1을 반환

-1

#### 위치 알려주기2 (`index`)

문자열 안에 존재하지 않는 문자를 찾으면 오류가 발생한다

In [155]:
a= "Life is too short"
a.index('t')      # 문자열 중 t가 맨 처음으로 나온 위치를 반환

8

In [158]:
a.index('k')

ValueError: substring not found

#### 문자열 삽입 (`join`)

In [160]:
",".join('abcd')   # abcd 문자열의 각각의 문자 사이에 ','를 삽입

'a,b,c,d'

In [162]:
",".join(['a', 'b', 'c', 'd'])

'a,b,c,d'

#### 소문자를 대문자로 바꾸기 (`upper`)

In [163]:
a="hi"
a.upper()

'HI'

#### 대문자를 소문자로 바꾸기 (`lower`)

In [164]:
a="HI"
a.lower()

'hi'

#### 공백 지우기(`strip`)

In [168]:
a=" hi "
a.lstrip()   #문자열 중 가장 왼쪽에 있는 한 칸 이상의 연속된 공백들을 모두 지운다.

'hi '

In [166]:
a=" hi "
a.rstrip()   #오른쪽 공백 지우기

' hi'

In [167]:
a= ' hi '
a.strip()    #양쪽 공백 지우기

'hi'

#### 문자열 바꾸기 (`replace`)
문자열 안의 특정한 값을 다른 값으로 치환해 준다.

In [169]:
a="Life is too short"
a.replace("Life", "Your leg")

'Your leg is too short'

#### 문자열 나누기(`split`)
공백(스페이스, 탭, 엔터 등)을 기준으로 문자열을 나누어준다.

In [171]:
a='Life is too short'
a.split()     #공백을 기준으로

['Life', 'is', 'too', 'short']

In [173]:
b="a:b:c:d"
b.split(":")    #:을 기준으로

['a', 'b', 'c', 'd']

## 2-3 리스트 자료형 (02/10)

In [1]:
odd=[1,3,5,7,9]

#### 여러가지 리스트

In [4]:
a=[]   #비어있는 리스트
a

[]

In [5]:
b=[1,2,3]
b

[1, 2, 3]

In [7]:
c=['Life','is','too','short']
c

['Life', 'is', 'too', 'short']

In [9]:
d=[1,2,'Life','is']     #숫자와 문자열을 함께 쓸 수 있다
d

[1, 2, 'Life', 'is']

In [11]:
e=[1,2,['Life','is']]   #리스트 자체를 요솟값으로 가질 수 있다.
e

[1, 2, ['Life', 'is']]

## 리스트의 인덱싱과 슬라이싱

## 리스트의 인덱싱

In [12]:
a=[1,2,3]
a

[1, 2, 3]

In [13]:
a[0]    # 리스트 a의 첫번째 요솟값

1

In [14]:
a[0]+a[2]  # 리스트의 첫번째 요소인 a[0]과 a[2]의 값을 더한 것

4

In [15]:
a[-1]   # 리스트 a의 마지막 요솟값

3

In [17]:
a=[1,2,3,['a','b','c']]
a

[1, 2, 3, ['a', 'b', 'c']]

In [18]:
a[0]

1

In [19]:
a[-1]

['a', 'b', 'c']

In [20]:
a[3]

['a', 'b', 'c']

In [22]:
a[-1][0]    # a에 포함된 ['a','b','c'] 리스트에서 'a' 값을 인덱싱해 끄집어내기

'a'

In [23]:
a[-1][1]

'b'

In [24]:
# 삼중 리스트에서 인덱싱 하기

a=[1,2,['a','b',['life','is']]]

In [25]:
a[2][2][0]

'life'

## 리스트의 슬라이싱

In [33]:
a=[1,2,3,4,5]
a[0:2]

[1, 2]

In [28]:
# 문자열에서 슬라이싱

a='12345'
a[0:2]

'12'

In [34]:
b=a[:2]
c=a[2:]

In [35]:
b

[1, 2]

In [36]:
c

[3, 4, 5]

In [37]:
# 중첩된 리스트에서 슬라이싱하기

a=[1,2,3,['a','b','c'],4,5]
a[2:5]

[3, ['a', 'b', 'c'], 4]

In [39]:
a[3][:2]

['a', 'b']

## 리스트 연산하기

### 리스트 더하기(+)

In [40]:
a=[1,2,3]
b=[4,5,6]
a+b

[1, 2, 3, 4, 5, 6]

### 리스트 반복하기(*)

In [41]:
a=[1,2,3]
a*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

### 리스트 길이구하기

In [42]:
a=[1,2,3]
len(a)

3

### 초보자가 범하기 쉬운 리스트 연산 오류

In [44]:
a=[1,2,3]
a[2]+'hi'

# 정수와 문자열은 더할 수 없음

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [46]:
str(a[2])+'hi'

# str은 정수나 실수를 문자열의 형태로 바꾸어주는 파이썬의 내장 함수

'3hi'

## 리스트의 수정과 삭제

### 리스트에서 값 수정하기

In [47]:
a=[1,2,3]
a[2]=4
a

[1, 2, 4]

### del 함수 사용해 리스트 요소 삭제하기

In [48]:
a=[1,2,3]
del a[1]
a

[1, 3]

- del a[x] a의 x번째 요솟값 삭제   
- del 함수는 파이썬이 자체적으로 가지고 있는 삭제함수  
- del 객체
> 객체란 파이썬에서 사용되는 모든 자료형을 말한다

In [49]:
a=[1,2,3,4,5]
del a[2:]
a

[1, 2]

## 리스트 관련 함수들

### 리스트에 요소 추가 (append)
덧붙이다, 첨부하다   
append(x)는 리스트의 맨 마지막에 x를 추가하는 함수

In [51]:
a=[1,2,3]
a.append(4)
a

[1, 2, 3, 4]

In [52]:
a.append([5,6])
a

[1, 2, 3, 4, [5, 6]]

### 리스트 정렬(sort)
sort 함수는 리스트 요소를 순서대로 정렬해 준다.

In [53]:
a=[1,4,3,2]
a.sort()   
a

[1, 2, 3, 4]

In [54]:
# 문자 역시 알파벳 순서로 정렬할 수 있다.

a=['a','d','b','c']
a.sort()
a

['a', 'b', 'c', 'd']

### 리스트 뒤집기(reverse)

reverse 함수는 리스트를 역순으로 뒤집어 준다. 이때 리스트 요소들을 순서대로 정렬한 다음 역순으로 정렬하는 것이 아니라 그저 현재의 리스트를 거꾸로 뒤집는다.

In [55]:
a=['a','d','b','c']
a.reverse()
a

['c', 'b', 'd', 'a']

### 위치 반환(index)
index(x) 함수는 리스트에 x값이 있으면 x의 위치 값을 돌려준다

In [56]:
a=[1,2,3]
a.index(3)   # 3의 위치는 a[2]

2

In [58]:
a.index(1)

0

In [59]:
a.index(0)   # 오류 발생

ValueError: 0 is not in list

### 리스트에 요소 삽입(insert)
insert(a,b)는 리스트 a번째 위치에 b를 삽입하는 함수  
파이썬에서는 숫자를 0부터 센다는 것을 반드시 기억!!!

In [61]:
a=[1,2,3]
a.insert(0,4)   # 0번째 자리, 즉 첫번째 요소 위치에 값 4를 삽입
a

[4, 1, 2, 3]

In [62]:
a.insert(3,5)
a

[4, 1, 2, 5, 3]

### 리스트 요소 제거(remove)
remove(x)는 리스트에서 첫 번째로 나오는 x를 삭제하라는 함수

In [66]:
a=[1,2,3,1,2,3]
a.remove(3)   # 첫번째로 나오는 3을 제거해라
a

[1, 2, 1, 2, 3]

In [67]:
a.remove(3)
a

[1, 2, 1, 2]

### 리스트 요소 끄집어내기(pop)
pop()는 리스트의 맨 마지막 요소를 돌려주고 그 요소는 삭제한다.

In [68]:
a=[1,2,3]
a.pop()

3

In [69]:
a

[1, 2]

In [70]:
a=[1,2,3]
a.pop(1)   # a[1]의 값을 끄집어내고 다시 a를 출력해보면 끄집어낸 값이 삭제됨

2

In [71]:
a

[1, 3]

### 리스트에 포함된 요소 x의 개수 세기(count)
count(x)는 리스트 안에 x가 몇 개 있는지 조사하여 그 개수를 돌려주는 함수

In [72]:
a=[1,2,3,1]
a.count(1)   #1이 몇개 있는지

2

### 리스트 확장(extend)
extend(x)에서 x에는 리스트만 올 수 있으며 원래의 a리스트에 x리스트를 더하게 된다.

In [73]:
a=[1,2,3]
a.extend([4,5])
a

[1, 2, 3, 4, 5]

In [74]:
b=[6,7]
a.extend(b)
a

[1, 2, 3, 4, 5, 6, 7]

## 2-4 튜플 자료형 (02/11)
튜플(tuple)은 몇 가지 점을 제외하곤 리스트와 거의 비슷하고 다른 점은 다음과 같다.  
- 리스트는 [ ]로 둘러싸지만 튜플은 ( )로 둘러싼다.  
- 리스트는 그 값의 생성, 삭제, 수정이 가능하지만 튜플은 그 값을 바꿀 수 없다.

In [2]:
t1=()
t1

()

In [12]:
t2=(1,)   # 한개의 요소만을 가질때는 요소 뒤에 ,를 붙여야한다.
t2

(1,)

In [13]:
t=(1)   # 이렇게 하면 튜플이 아니다?
t

1

In [4]:
t3=(1,2,3)
t3

(1, 2, 3)

In [6]:
t4=1,2,3   #괄호 생략해도 된다.
t4

(1, 2, 3)

In [8]:
t5=('a','b',('c','d'))
t5

('a', 'b', ('c', 'd'))

튜플과 리스트의 가장 큰 차이는 **값을 변화시킬 수 있는가**  
- 튜플의 항목 값은 변화가 불가능하다.  
- 프로그램이 실행되는 동안 그 값이 항상 변하지 않기를 바란다거나 값이 바뀔까 걱정하고 싶지 않다면 튜플 사용  
- 실제로는 값이 변경되는 형태의 변수가 많기 때문에 리스트 많이 사용한다.  

## 튜플의 요소값을 지우거나 변경하고 싶을때는?

### 튜플 요솟값을 삭제하려고 할때

In [14]:
t1=(1,2,'a','b')
del t1[0]      # 튜플 요소를 지우는 것 지원되지 않는다

TypeError: 'tuple' object doesn't support item deletion

### 튜플 요솟값을 변경하려 할 때

In [15]:
t1[0]='c'

TypeError: 'tuple' object does not support item assignment

## 튜플 다루기

### 인덱싱하기

In [16]:
t1[0]

1

In [17]:
t1[3]

'b'

### 슬라이싱하기

In [18]:
t1[1:]

(2, 'a', 'b')

### 튜플 더하기

In [19]:
t2=(3,4)
t1+t2

(1, 2, 'a', 'b', 3, 4)

### 튜플 곱하기

In [20]:
t2*3

(3, 4, 3, 4, 3, 4)

### 튜플 길이 구하기

In [21]:
len(t1)

4

## 2-5 딕셔너리 자료형

## 딕셔너리란?
파이썬은 대응 관계를 나타낼 수 있는 자료형을 가지고 있다.   
"people"이라는 단어에 "사람", "baseball"이라는 단어에 "야구"라는 뜻이 부합되듯이 Key와 Value를 한 쌍으로 갖는 자료형이다. Key가 "baseball"이면 Value는 "야구"가 될 것이다.  

딕셔너리는 리스트나 튜플처럼 순차적으로 해당 요솟값을 구하지 않고 Key를 통해 Value를 얻는다.  
baseball이라는 단어의 뜻을 찾기 위해 사전의 내용을 순차적으로 모두 검색하는 것이 아니라 baseball이라는 단어가 있는 곳만 펼쳐 보는 것이다.

## 딕셔너리는 어떻게 만들까?
기본 딕셔너리 모습  
`{Key1:Value1,Key2:Value2}`  
Key에는 변하지 않는 값을 사용하고 Value에는 변하는 값과 변하지 않는 값 모두 사용

In [23]:
dic={'name':'lucy','phone':'011222333','birth':'0124'}

In [24]:
dic

{'name': 'lucy', 'phone': '011222333', 'birth': '0124'}

In [26]:
# Key로 정수 값 1, Value로 문자열 'hi'를 사용한 예

a={1:'hi'}
a

{1: 'hi'}

In [28]:
# value에 리스트를 넣을 수도 있다.

a={'a':[1,2,3]}
a

{'a': [1, 2, 3]}

## 딕셔너리 쌍 추가, 삭제하기

In [49]:
a={1:'a'}

In [50]:
a[2]='b'

In [52]:
a

{1: 'a', 2: 'b'}

In [53]:
a['name']='lucy'
a

{1: 'a', 2: 'b', 'name': 'lucy'}

In [54]:
a[3]=[1,2,3]
a

{1: 'a', 2: 'b', 'name': 'lucy', 3: [1, 2, 3]}

### 딕셔너리 요소 삭제하기

In [55]:
del a[1]    #a의 Key 1 삭제
a

{2: 'b', 'name': 'lucy', 3: [1, 2, 3]}

## 딕셔너리를 사용하는 방법

"딕셔너리는 주로 어떤 것을 표현하는 데 사용할까?"  
예를 들어 4명의 사람이 있다고 가정하고, 각자의 특기를 표현할 수 있는 좋은 방법에 대해서 생각해 보자. 리스트나 문자열로는 표현하기가 상당히 까다로울 것이다. 하지만 파이썬의 딕셔너리를 사용한다면 이 상황을 표현하기가 정말 쉽다. 다음 예를 보자.

In [37]:
{'김연아':'피겨스케이팅','류현진':'야구','박지성':'축구','소영':'파이썬'}

{'김연아': '피겨스케이팅', '류현진': '야구', '박지성': '축구', '소영': '파이썬'}

### 딕셔너리에서 Key 사용해 Value 얻기  
#### `a[Key]`

In [38]:
grade={'lucy':135,'roy':99}
grade['lucy']

135

In [39]:
grade['roy']

99

In [40]:
a={1:'a',2:'b'}
a[1]

'a'

In [41]:
a[2]

'b'

In [42]:
a={'a':1,'b':2}
a['a']

1

In [43]:
a['b']

2

In [44]:
dic

{'name': 'lucy', 'phone': '011222333', 'birth': '0124'}

In [45]:
dic['name']

'lucy'

In [46]:
dic['phone']

'011222333'

In [47]:
dic['birth']

'0124'

### 딕셔너리 만들 때 주의할 사항
- 중복되는 Key 값을 설정해 놓으면 하나를 제외한 나머지 것들이 모두 무시된다.  
- Key에 리스트는 쓸 수 없다,=.

In [56]:
a={1:'a',1:'b'}
a

{1: 'b'}

In [57]:
a={[1,2]:'hi'}

TypeError: unhashable type: 'list'

## 딕셔너리 관련 함수들
### Key 리스트 만들기(keys)

In [58]:
a={'name':'lucy','phone':'0102030405','birth':'0124'}
a.keys()

dict_keys(['name', 'phone', 'birth'])

In [59]:
list(a.keys())

['name', 'phone', 'birth']

In [60]:
for k in a.keys():
    print(k)

name
phone
birth

### Value 리스트 만들기(vlaues)

In [61]:
a.values()

dict_values(['lucy', '0102030405', '0124'])

### Key, Value 쌍 얻기(items)

In [62]:
a.items()

dict_items([('name', 'lucy'), ('phone', '0102030405'), ('birth', '0124')])

### Key:Vlaue 쌍 모두 지우기(clear)

In [65]:
a.clear()
a

{}

### Key로 Value 얻기 (get)
a['key']랑 같지만 존재하지 않는 키로 값으로 가져오라는 경우에 none을 출력한다.

In [67]:
aa={'name':'lucy','phone':'0102030405','birth':'0124'}

In [68]:
aa.get('name')

'lucy'

In [69]:
aa.get('phone')

'0102030405'

In [71]:
print(aa.get('nokey'))

None

In [72]:
aa['nokey']

KeyError: 'nokey'

#### 딕셔너리 안에 찾으려는 키 값이 없을 경우 미리 정해둔 디폴트 값을 대신가져오게 하고 싶을때
`get(x,'디폴트 값')`

In [74]:
# aa 딕셔너리에는 'foo'에 해당하는 값이 없다. 따라서 디폴트 값인 'bar'를 돌려준다

aa.get('foo','bar')

'bar'

### 해당 Key가 딕셔너리 안에 있는지 조사하기(in)

In [76]:
'name' in aa

True

In [77]:
'email' in aa

False

## 2-6 집합 자료형
집합은 집합에 관련된 것을 쉽게 처리하기 위해 만든 자료형

In [78]:
s1=set([1,2,3])    # ()안에 리스트 입력
s1

{1, 2, 3}

In [80]:
s2=set('hello')  # ()안에 문자열 입력
s2

{'e', 'h', 'l', 'o'}

In [81]:
s3=set()   # 비어있는 집합 자료형
s3

set()

## 집합 자료형의 특징
- 중복을 허용하지 않는다.  
- 순서가 없다.  
- 인덱싱을 지원하지 않는다.
- 만약 set자료형에 저장된 값을 인덱싱으로 접근하려면 다음과 같이 리스트나 튜플로 변환한 후 해야한다.

In [82]:
s1=set([1,2,3])
l1=list(s1)
l1

[1, 2, 3]

In [83]:
l1[1]

2

In [84]:
t1=tuple(s1)
t1

(1, 2, 3)

In [85]:
t1[1]

2

## 교집합, 합집합, 차집합 구하기
set 자료형을 유용하게 사용하는 경우는 교집합, 차집합, 합집합을 구할 때!

In [86]:
s1=set([1,2,3,4,5,6])
s2=set([4,5,6,7,8,9])

#### 교집합

In [87]:
s1&s2

{4, 5, 6}

In [88]:
s1.intersection(s2)

{4, 5, 6}

#### 합집합

In [89]:
s1|s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [90]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

#### 차집합

In [91]:
s1-s2

{1, 2, 3}

In [92]:
s2-s1

{7, 8, 9}

In [94]:
s1.difference(s2)

{1, 2, 3}

In [95]:
s2.difference(s1)

{7, 8, 9}

## 집합 자료형 관련 함수들

### 값 1개 추가하기(add)
이미 만들어진 set 자료형에 값을 추가할 수 있다.

In [96]:
s1=set([1,2,3])
s1.add(4)
s1

{1, 2, 3, 4}

### 값 여러개 추가하기(update)

In [102]:
s1=set([1,2,3])
s1.update([4,5,6])
s1

{1, 2, 3, 4, 5, 6}

### 특정 값 제거하기(remove)

In [105]:
s1.remove(3)
s1

{1, 2, 4, 5, 6}

## 2-7 불 자료형

## 불 자료형이란?
불(bool)자료형이란 참(True)와 거짓(False)를 나타내는 자료형이다.   
- True - 참
- False - 거짓  
항상 대문지로 사용

In [106]:
a=True
b=False

In [107]:
type(a)

bool

In [108]:
type(b)

bool

In [109]:
1==1

True

In [110]:
2>1

True

In [111]:
2<1

False

## 자료형의 참과 거짓 
자료형의 참과 거짓을 구분하는 기준  

|값|참or거짓|
|-|-|
|"python"|참|
|""|거짓|
|[1,2,3]|참|
|[]|거짓|
|()|거짓|
|{}|거짓|
|1|참|
|0|거짓|
|None|거짓|

문자열, 리스트, 튜플, 딕셔너리 등 값이 비어있으면 거짓, 숫자에서는 0일 때 거짓

In [113]:
a=[1,2,3,4]
while a:         #pop은 a의 마지막 요소 끄집어내고 그거 삭제하는 함수 
    print(a.pop())    #더 이상 끄집어낼것이 없으면 a가 빈 리스트가 되어 삭제 
                      #while문에서 조건이 거짓이면 중지

4
3
2
1

In [115]:
if []:
    print('참')
else:
    print('거짓')

거짓

In [116]:
if[1,2,3]:
    print('참')
else:
    print('거짓')
    
#만약 [1,2,3]이 참이면 '참'이라는 문자열을 출력하고 그렇지 않으면 '거짓'이라는 문자열 출력

참

## 불 연산

In [117]:
bool('python')

True

In [119]:
bool('')

False

In [120]:
bool([1,2,3])

True

In [121]:
bool([])

False

In [122]:
bool()

False

In [123]:
bool(0)

False

In [124]:
bool(3)

True

## 2-8 자료형의 값을 저장하는 공간, 변수
다음과 같은 a,b,c를 변수라고 한다.

In [126]:
a=1
b='python'
c=[1,2,3]

## 변수란?

파이썬에서 사용하는 변수는 객체를 가리키는 것  
객체는 우리가 지금껏 보아온 자료형과 같은 것을 의미하는 말이다.

In [127]:
a=[1,2,3]

# 변수 a는 [1,2,3] 리스트가 저장된 메모리의 주소

In [129]:
# id 함수는 변수가 가리키고 있는 객체의 주소 값을 돌려주는 파이썬 내장 함수  

id(a)

3006734479112

In [130]:
a=[1,2,3]
b=a   # 둘의 id 똑같음 a가 가리키는 대상과 b가 가리키는 대상 동일함

In [131]:
id(a)

3006734154376

In [133]:
id(b)

3006734154376

In [134]:
a is b

True

In [136]:
a[1]=4
a

[1, 4, 3]

In [137]:
b

[1, 4, 3]

### [:] 이용
a의 리스트 값을 바꾸더라도 b리스트에는 영향을 끼치지 않는다.

In [138]:
a=[1,2,3]
b=a[:]
b

[1, 2, 3]

In [139]:
a[1]=4
a

[1, 4, 3]

In [140]:
b

[1, 2, 3]

### copy 모듈 이용
b=copy(a)와 b=a[:]과 동일하다.

In [141]:
from copy import copy
b=copy(a)

In [142]:
b is a

False

## 변수를 만드는 여러가지 방법

In [143]:
a,b=('python','life')

In [144]:
a

'python'

In [145]:
b

'life'

In [147]:
(a,b)='python','life'     # 튜플은 괄호 생략 가능

In [148]:
a

'python'

In [149]:
b

'life'

In [151]:
[a,b]=['python','life']

In [152]:
a

'python'

In [153]:
b

'life'

In [154]:
a=b='python'

In [156]:
a=3
b=5
a,b=b,a

In [157]:
a

5

In [158]:
b

3

## 2장 연습문제
### Q1. 홍길동 과목점수의 평균?

|과목|점수|
|-|-|
|국어|80|
|영어|75|
|수학|55|

In [159]:
[국어,영어,수학]=[80,75,55]

In [161]:
(국어+영어+수학)/3

70.0

### Q2. 자연수 13이 홀수인지 짝수인지 판별할 수 있는 방법

In [162]:
# 13을 2로 나눴을때 나머지가 1이면 홀수 0이면 짝수

13%2

1

In [164]:
14%2

0

### Q3. 연월일(YYYYMMDD) 부분과 그 뒤의 숫자 부분으로 나누어 출력
#### 주민등록번호 881120-1068234 
*문자열 슬라이싱 기법 사용*

In [165]:
a='881120-1068234'
b=a[:6]
c=a[7:]

In [166]:
b

'881120'

In [168]:
c

'1068234'

### Q4. 주민등록번호 뒷자리의 맨 첫번째 숫자는 성별을 나타낸다. 성별 출력

In [169]:
a[7]

'1'

### Q5. replace 함수 사용하여 a:b:c:d를 a#b#c#d로 바꾸어 출력

In [170]:
a='a:b:c:d'
a.replace(':','#')

'a#b#c#d'

### Q6. [1, 3, 5, 4, 2] 리스트를 [5,4,3,2,1]로 만들어보자.

In [174]:
a=[1, 3, 5, 4, 2]
a.sort()
a.reverse()
print(a)

[5, 4, 3, 2, 1]

### Q7. ["Life","is","too","short"]를 Life is too short 문자열로 만들어 출력
*문자열의 join 함수를 사용하면 리스트를 문자열로 쉽게 만들 수 있다.*

In [177]:
a=["Life","is","too","short"]
" ".join(a)

'Life is too short'

### Q8. (1,2,3) 튜플에 값 4를 추가하여 (1,2,3,4)를 만들어 출력
*더하기(+)를 사용해보자.*

In [178]:
a=(1,2,3)

In [183]:
a=a+(4,)

### Q9. 오류가 발생하는 경우 고르기
다음과 같은 딕셔너리 a가 있다.   
a=dict()   
a 

1. `a['name']='python'`
2. `a[('a',)]='python'`
3. `a[[1]]='python'`
4. `a[250]='python'`

In [184]:
a=dict()
a

{}

In [186]:
a['name']='python'

In [187]:
a[('a',)]='python'  # 변하지 않는 값인 튜플은 key로 사용가능

In [188]:
a[[1]]='python'    # 딕셔너리 자료형의 key에 리스트 못온다.

TypeError: unhashable type: 'list'

In [189]:
a[250]='python'

### Q10. 딕셔너리 a에서 'B'에 해당하는 값을 추출

In [195]:
a={'A':90,'B':80,'C':70}

In [196]:
a['B']

80

In [197]:
a.pop('B')

80

### Q11. a 리스트에서 중복 숫자를 제거

In [198]:
a=[1,1,1,1,2,2,2,2,3,3,3,3,4,4,4,5,5,]

In [200]:
s=set(a)
s

{1, 2, 3, 4, 5}

### Q12. 다음과 같이 a, b 변수를 선언한 후 a의 두 번째 요솟값을 변경하면 b 값은 어떻게 될까?

In [202]:
a=b=[1,2,3]
a[1]=4
print(b)

#a,b 변수는 모두 동일한 [1,2,3]이라는 리스트 객체를 가리키고 있기 때문

[1, 4, 3]

## test